input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.app-span{
  margin: 8px 4px;
}

.myerror {
  background-color: #12a021;
}

.myforeground {
  color: #FF000f;
}

#ca-list{
  list-style: none;
}